.logo {
  //padding: 0 10px 0 25px;
  
  a{
    display: block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 0.08em;
  }
}

.header {
  position: relative;
  z-index: 2;
  
  &-top {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 35px;
    @include breakpoint(lg) {
      padding: 20px 0;
    }

    .logo {
      @include breakpoint(lg) {
        padding-left: 50px;
        padding-right: 25px;
      }
      @include breakpoint(xs) {
        padding-right: 0;
      }
    }

    .form {
      &__group {
        @include flexbox();
        align-items: center;
        border: 2px solid $gray-border;
        border-radius: 5px;
        height: 50px;
      }

      &__search {
        border: none;
        width: 278px;
        padding: 10px 18px;
      }

      &__select {
        position: relative;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: -15px;
          background-color: $gray-border;
          width: 2px;
          height: 50px;
        } 
        &:before {
          left: 0;
        }
        &:after {
          right: 0;
        }

        select {
          width: 135px;
          color: $gray-light;
          text-transform: uppercase;
          text-align: center;

          // &:after {
          //   position: absolute;
          //   top: 50%;
          //   right: 20px;
          //   width: 5px;
          //   height: 5px;
          //   border-bottom: 2px solid $gray-light;
          //   border-right: 2px solid $gray-light;
          //   transform: translateY(45deg);
          // }

          option {
            color: $gray-light;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: $bold-font-weight;
          }
        } 
      }

      &__btn {
        width: 50px;
        border: none;
        border-radius: 0;
        box-shadow: none;
        
        @include breakpoint(md) {
          border-left: 2px solid $gray-border;
        }
        &:before {
          content: '';
          display: inline-block;
          @include sprite($icon-search);
        }
      }
    }

    .inline-list {
      @include flexbox();
      align-items: center;
      padding-right: 40px;
      @include breakpoint(md) {
        padding-right: 0;
      }
  
      li {
        a {
          font-weight: $medium-font-weight; 
          text-transform: capitalize;
          @include flexbox();
          &:hover {
            color: $gray-light;
          }
        }
        &:first-child {
          .inline-list__icon {
            padding-left: 14px;
          }
        }
      }

      &__icon {
        display: inline-block;
        width: 21px;
        height: 20px;
        padding: 0 34px 0 44px;
        position: relative;
        @include breakpoint(md) {
          padding: 0 20px;
        }
        
        &:before {
          content: '';
          display: inline-block;
        }
      }

      &__cart {
        &:before {
          @include sprite($cart-icon);
        }
      }
      &__wishlist {
        &:before {
          @include sprite($wishlist-icon);
        }
      }
      &__user {
        &:before {
          @include sprite($icon-user);
        }
      }
    }
  }

  .hidden-lg {
    @include breakpoint(lg) {
      display: none;
    }
  }

  &-bottom {
    border: 2px solid $gray-border;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,.1); 

    .container-flex {
      height: 64px;
      @include flexbox();
      align-items: center;
      //justify-content: space-between;

      @include breakpoint(lg) {
        display: block;
        height: auto;
      }
    }

    .category {
      max-width: 202px;
      width: 100%;
      height: 100%;
      position: relative;
      @include flexbox();
      align-items: center;
      cursor: pointer;

      &__title {
        &:hover {
          color: $gray-light;
        }
        @include breakpoint(lg) {
          padding: 12px 0;
        }
        i {
          padding: 0 28px;

          @include breakpoint(lg) {
            display: none;
          }
        }
      }

      &__menu {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: opacity .5s ease , height .3s ease;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: #fff;
        padding: 5px 10px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0px 5px 7px 0px rgba(0,0,0,.2);

        &.active {
          height: auto;
          overflow: visible;
          opacity: 1;
        }

        li {
          a {
            display: block;
            padding: 7px 0;
            &:hover {
              padding-left: 7px;
            }
          }
        }
      }
    }

    &__menu {
      @include flexbox();
      align-items: center;
      max-width: 564px;
      width: 100%;
      height: 100%;
      padding: 0 17px;
      border-right: 2px solid $gray-border;
      border-left: 2px solid $gray-border;

      @include breakpoint(lg) {
        display: block;
        padding: 0;
        border: none;
        max-width: inherit;
      }

      li {
        @include breakpoint(lg) {
          padding: 12px 0;
        }

        a {
          text-transform: capitalize;
          padding: 18px;
          &:hover {
            color: $gray-light;
          }
        }
      }
    }

    &__list {
      @include flexbox();
      align-items: center;

      @include breakpoint(lg) {
        display: block;
      }

      select {
        color: $gray-light;
        font-weight: $medium-font-weight; 
        height: 64px;

        @include breakpoint(lg) {
          height: auto;
          padding: 12px 0;
        }
      }

      .form__curr {
        
        select {
          width: 105px;
        }
      }
    }
  } 
  .nav-mobile {
    @include breakpoint(lg) {
      display: none;
    }
  } 

  // modal

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(71, 78, 93, .8);;
    padding-top: 50px;

    .form {
      padding: 20px;
      border-radius: 5px;
      @include block-shadow();
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      background-color: $gray-bg;
      position: relative;
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: .4s;
      animation-name: animatetop;
      animation-duration: .4s;

      @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:0; opacity:1}
      }
      
      @keyframes animatetop {
          from {top:-300px; opacity:0}
          to {top:0; opacity:1}
      }

      .btn {
        border: 2px solid $gray-text;
        background-color: $gray-text;

        &:hover {
          background-color: $white;
          border-color: $gray-border;
        }
      }
    }

    .close {
      position: absolute;
      right: 35px;
      top: 15px;
      font-size: 40px;
      color: #f1f1f1;

      &:hover,
      &:focus {
        color: $blue;
        cursor: pointer;
      }
    }
  }
}