// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$amazon-icon-name: 'amazon-icon';
$amazon-icon-x: 0px;
$amazon-icon-y: 0px;
$amazon-icon-offset-x: 0px;
$amazon-icon-offset-y: 0px;
$amazon-icon-width: 48px;
$amazon-icon-height: 30px;
$amazon-icon-total-width: 120px;
$amazon-icon-total-height: 117px;
$amazon-icon-image: 'sprite.png';
$amazon-icon: (0px, 0px, 0px, 0px, 48px, 30px, 120px, 117px, 'sprite.png', 'amazon-icon', );
$arrow-next-icon-name: 'arrow-next-icon';
$arrow-next-icon-x: 37px;
$arrow-next-icon-y: 86px;
$arrow-next-icon-offset-x: -37px;
$arrow-next-icon-offset-y: -86px;
$arrow-next-icon-width: 14px;
$arrow-next-icon-height: 14px;
$arrow-next-icon-total-width: 120px;
$arrow-next-icon-total-height: 117px;
$arrow-next-icon-image: 'sprite.png';
$arrow-next-icon: (37px, 86px, -37px, -86px, 14px, 14px, 120px, 117px, 'sprite.png', 'arrow-next-icon', );
$arrow-prev-icon-name: 'arrow-prev-icon';
$arrow-prev-icon-x: 53px;
$arrow-prev-icon-y: 86px;
$arrow-prev-icon-offset-x: -53px;
$arrow-prev-icon-offset-y: -86px;
$arrow-prev-icon-width: 14px;
$arrow-prev-icon-height: 14px;
$arrow-prev-icon-total-width: 120px;
$arrow-prev-icon-total-height: 117px;
$arrow-prev-icon-image: 'sprite.png';
$arrow-prev-icon: (53px, 86px, -53px, -86px, 14px, 14px, 120px, 117px, 'sprite.png', 'arrow-prev-icon', );
$cart-icon-name: 'cart-icon';
$cart-icon-x: 0px;
$cart-icon-y: 64px;
$cart-icon-offset-x: 0px;
$cart-icon-offset-y: -64px;
$cart-icon-width: 21px;
$cart-icon-height: 20px;
$cart-icon-total-width: 120px;
$cart-icon-total-height: 117px;
$cart-icon-image: 'sprite.png';
$cart-icon: (0px, 64px, 0px, -64px, 21px, 20px, 120px, 117px, 'sprite.png', 'cart-icon', );
$cart-light-icon-name: 'cart-light-icon';
$cart-light-icon-x: 23px;
$cart-light-icon-y: 64px;
$cart-light-icon-offset-x: -23px;
$cart-light-icon-offset-y: -64px;
$cart-light-icon-width: 20px;
$cart-light-icon-height: 20px;
$cart-light-icon-total-width: 120px;
$cart-light-icon-total-height: 117px;
$cart-light-icon-image: 'sprite.png';
$cart-light-icon: (23px, 64px, -23px, -64px, 20px, 20px, 120px, 117px, 'sprite.png', 'cart-light-icon', );
$grid-blue-icon-name: 'grid-blue-icon';
$grid-blue-icon-x: 100px;
$grid-blue-icon-y: 63px;
$grid-blue-icon-offset-x: -100px;
$grid-blue-icon-offset-y: -63px;
$grid-blue-icon-width: 20px;
$grid-blue-icon-height: 13px;
$grid-blue-icon-total-width: 120px;
$grid-blue-icon-total-height: 117px;
$grid-blue-icon-image: 'sprite.png';
$grid-blue-icon: (100px, 63px, -100px, -63px, 20px, 13px, 120px, 117px, 'sprite.png', 'grid-blue-icon', );
$icon-arrow-name: 'icon-arrow';
$icon-arrow-x: 100px;
$icon-arrow-y: 78px;
$icon-arrow-offset-x: -100px;
$icon-arrow-offset-y: -78px;
$icon-arrow-width: 8px;
$icon-arrow-height: 5px;
$icon-arrow-total-width: 120px;
$icon-arrow-total-height: 117px;
$icon-arrow-image: 'sprite.png';
$icon-arrow: (100px, 78px, -100px, -78px, 8px, 5px, 120px, 117px, 'sprite.png', 'icon-arrow', );
$icon-search-name: 'icon-search';
$icon-search-x: 0px;
$icon-search-y: 104px;
$icon-search-offset-x: 0px;
$icon-search-offset-y: -104px;
$icon-search-width: 13px;
$icon-search-height: 13px;
$icon-search-total-width: 120px;
$icon-search-total-height: 117px;
$icon-search-image: 'sprite.png';
$icon-search: (0px, 104px, 0px, -104px, 13px, 13px, 120px, 117px, 'sprite.png', 'icon-search', );
$icon-user-name: 'icon-user';
$icon-user-x: 0px;
$icon-user-y: 86px;
$icon-user-offset-x: 0px;
$icon-user-offset-y: -86px;
$icon-user-width: 16px;
$icon-user-height: 16px;
$icon-user-total-width: 120px;
$icon-user-total-height: 117px;
$icon-user-image: 'sprite.png';
$icon-user: (0px, 86px, 0px, -86px, 16px, 16px, 120px, 117px, 'sprite.png', 'icon-user', );
$list-icon-name: 'list-icon';
$list-icon-x: 18px;
$list-icon-y: 86px;
$list-icon-offset-x: -18px;
$list-icon-offset-y: -86px;
$list-icon-width: 17px;
$list-icon-height: 14px;
$list-icon-total-width: 120px;
$list-icon-total-height: 117px;
$list-icon-image: 'sprite.png';
$list-icon: (18px, 86px, -18px, -86px, 17px, 14px, 120px, 117px, 'sprite.png', 'list-icon', );
$list-light-icontabs-name: 'list-light-icontabs';
$list-light-icontabs-x: 69px;
$list-light-icontabs-y: 86px;
$list-light-icontabs-offset-x: -69px;
$list-light-icontabs-offset-y: -86px;
$list-light-icontabs-width: 18px;
$list-light-icontabs-height: 10px;
$list-light-icontabs-total-width: 120px;
$list-light-icontabs-total-height: 117px;
$list-light-icontabs-image: 'sprite.png';
$list-light-icontabs: (69px, 86px, -69px, -86px, 18px, 10px, 120px, 117px, 'sprite.png', 'list-light-icontabs', );
$master-card-icon-name: 'master-card-icon';
$master-card-icon-x: 50px;
$master-card-icon-y: 32px;
$master-card-icon-offset-x: -50px;
$master-card-icon-offset-y: -32px;
$master-card-icon-width: 48px;
$master-card-icon-height: 30px;
$master-card-icon-total-width: 120px;
$master-card-icon-total-height: 117px;
$master-card-icon-image: 'sprite.png';
$master-card-icon: (50px, 32px, -50px, -32px, 48px, 30px, 120px, 117px, 'sprite.png', 'master-card-icon', );
$pay-pal-icon-name: 'pay-pal-icon';
$pay-pal-icon-x: 0px;
$pay-pal-icon-y: 32px;
$pay-pal-icon-offset-x: 0px;
$pay-pal-icon-offset-y: -32px;
$pay-pal-icon-width: 48px;
$pay-pal-icon-height: 30px;
$pay-pal-icon-total-width: 120px;
$pay-pal-icon-total-height: 117px;
$pay-pal-icon-image: 'sprite.png';
$pay-pal-icon: (0px, 32px, 0px, -32px, 48px, 30px, 120px, 117px, 'sprite.png', 'pay-pal-icon', );
$star-border-name: 'star-border';
$star-border-x: 100px;
$star-border-y: 0px;
$star-border-offset-x: -100px;
$star-border-offset-y: 0px;
$star-border-width: 20px;
$star-border-height: 19px;
$star-border-total-width: 120px;
$star-border-total-height: 117px;
$star-border-image: 'sprite.png';
$star-border: (100px, 0px, -100px, 0px, 20px, 19px, 120px, 117px, 'sprite.png', 'star-border', );
$star-half-name: 'star-half';
$star-half-x: 67px;
$star-half-y: 64px;
$star-half-offset-x: -67px;
$star-half-offset-y: -64px;
$star-half-width: 20px;
$star-half-height: 19px;
$star-half-total-width: 120px;
$star-half-total-height: 117px;
$star-half-image: 'sprite.png';
$star-half: (67px, 64px, -67px, -64px, 20px, 19px, 120px, 117px, 'sprite.png', 'star-half', );
$star-yellow-name: 'star-yellow';
$star-yellow-x: 45px;
$star-yellow-y: 64px;
$star-yellow-offset-x: -45px;
$star-yellow-offset-y: -64px;
$star-yellow-width: 20px;
$star-yellow-height: 19px;
$star-yellow-total-width: 120px;
$star-yellow-total-height: 117px;
$star-yellow-image: 'sprite.png';
$star-yellow: (45px, 64px, -45px, -64px, 20px, 19px, 120px, 117px, 'sprite.png', 'star-yellow', );
$visa-icon-name: 'visa-icon';
$visa-icon-x: 50px;
$visa-icon-y: 0px;
$visa-icon-offset-x: -50px;
$visa-icon-offset-y: 0px;
$visa-icon-width: 48px;
$visa-icon-height: 30px;
$visa-icon-total-width: 120px;
$visa-icon-total-height: 117px;
$visa-icon-image: 'sprite.png';
$visa-icon: (50px, 0px, -50px, 0px, 48px, 30px, 120px, 117px, 'sprite.png', 'visa-icon', );
$wishlist-icon-name: 'wishlist-icon';
$wishlist-icon-x: 100px;
$wishlist-icon-y: 21px;
$wishlist-icon-offset-x: -100px;
$wishlist-icon-offset-y: -21px;
$wishlist-icon-width: 20px;
$wishlist-icon-height: 19px;
$wishlist-icon-total-width: 120px;
$wishlist-icon-total-height: 117px;
$wishlist-icon-image: 'sprite.png';
$wishlist-icon: (100px, 21px, -100px, -21px, 20px, 19px, 120px, 117px, 'sprite.png', 'wishlist-icon', );
$wishlist-light-icon-name: 'wishlist-light-icon';
$wishlist-light-icon-x: 100px;
$wishlist-light-icon-y: 42px;
$wishlist-light-icon-offset-x: -100px;
$wishlist-light-icon-offset-y: -42px;
$wishlist-light-icon-width: 20px;
$wishlist-light-icon-height: 19px;
$wishlist-light-icon-total-width: 120px;
$wishlist-light-icon-total-height: 117px;
$wishlist-light-icon-image: 'sprite.png';
$wishlist-light-icon: (100px, 42px, -100px, -42px, 20px, 19px, 120px, 117px, 'sprite.png', 'wishlist-light-icon', );
$spritesheet-width: 120px;
$spritesheet-height: 117px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($amazon-icon, $arrow-next-icon, $arrow-prev-icon, $cart-icon, $cart-light-icon, $grid-blue-icon, $icon-arrow, $icon-search, $icon-user, $list-icon, $list-light-icontabs, $master-card-icon, $pay-pal-icon, $star-border, $star-half, $star-yellow, $visa-icon, $wishlist-icon, $wishlist-light-icon, );
$spritesheet: (120px, 117px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
