// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$cart-icon-name: 'cart-icon';
$cart-icon-x: 0px;
$cart-icon-y: 0px;
$cart-icon-offset-x: 0px;
$cart-icon-offset-y: 0px;
$cart-icon-width: 21px;
$cart-icon-height: 20px;
$cart-icon-total-width: 83px;
$cart-icon-total-height: 78px;
$cart-icon-image: 'sprite.png';
$cart-icon: (0px, 0px, 0px, 0px, 21px, 20px, 83px, 78px, 'sprite.png', 'cart-icon', );
$cart-light-icon-name: 'cart-light-icon';
$cart-light-icon-x: 23px;
$cart-light-icon-y: 0px;
$cart-light-icon-offset-x: -23px;
$cart-light-icon-offset-y: 0px;
$cart-light-icon-width: 20px;
$cart-light-icon-height: 20px;
$cart-light-icon-total-width: 83px;
$cart-light-icon-total-height: 78px;
$cart-light-icon-image: 'sprite.png';
$cart-light-icon: (23px, 0px, -23px, 0px, 20px, 20px, 83px, 78px, 'sprite.png', 'cart-light-icon', );
$grid-blue-icon-name: 'grid-blue-icon';
$grid-blue-icon-x: 22px;
$grid-blue-icon-y: 43px;
$grid-blue-icon-offset-x: -22px;
$grid-blue-icon-offset-y: -43px;
$grid-blue-icon-width: 20px;
$grid-blue-icon-height: 13px;
$grid-blue-icon-total-width: 83px;
$grid-blue-icon-total-height: 78px;
$grid-blue-icon-image: 'sprite.png';
$grid-blue-icon: (22px, 43px, -22px, -43px, 20px, 13px, 83px, 78px, 'sprite.png', 'grid-blue-icon', );
$icon-arrow-name: 'icon-arrow';
$icon-arrow-x: 67px;
$icon-arrow-y: 33px;
$icon-arrow-offset-x: -67px;
$icon-arrow-offset-y: -33px;
$icon-arrow-width: 8px;
$icon-arrow-height: 5px;
$icon-arrow-total-width: 83px;
$icon-arrow-total-height: 78px;
$icon-arrow-image: 'sprite.png';
$icon-arrow: (67px, 33px, -67px, -33px, 8px, 5px, 83px, 78px, 'sprite.png', 'icon-arrow', );
$icon-search-name: 'icon-search';
$icon-search-x: 67px;
$icon-search-y: 18px;
$icon-search-offset-x: -67px;
$icon-search-offset-y: -18px;
$icon-search-width: 13px;
$icon-search-height: 13px;
$icon-search-total-width: 83px;
$icon-search-total-height: 78px;
$icon-search-image: 'sprite.png';
$icon-search: (67px, 18px, -67px, -18px, 13px, 13px, 83px, 78px, 'sprite.png', 'icon-search', );
$icon-user-name: 'icon-user';
$icon-user-x: 67px;
$icon-user-y: 0px;
$icon-user-offset-x: -67px;
$icon-user-offset-y: 0px;
$icon-user-width: 16px;
$icon-user-height: 16px;
$icon-user-total-width: 83px;
$icon-user-total-height: 78px;
$icon-user-image: 'sprite.png';
$icon-user: (67px, 0px, -67px, 0px, 16px, 16px, 83px, 78px, 'sprite.png', 'icon-user', );
$list-icon-name: 'list-icon';
$list-icon-x: 0px;
$list-icon-y: 64px;
$list-icon-offset-x: 0px;
$list-icon-offset-y: -64px;
$list-icon-width: 17px;
$list-icon-height: 14px;
$list-icon-total-width: 83px;
$list-icon-total-height: 78px;
$list-icon-image: 'sprite.png';
$list-icon: (0px, 64px, 0px, -64px, 17px, 14px, 83px, 78px, 'sprite.png', 'list-icon', );
$list-light-icontabs-name: 'list-light-icontabs';
$list-light-icontabs-x: 44px;
$list-light-icontabs-y: 43px;
$list-light-icontabs-offset-x: -44px;
$list-light-icontabs-offset-y: -43px;
$list-light-icontabs-width: 18px;
$list-light-icontabs-height: 10px;
$list-light-icontabs-total-width: 83px;
$list-light-icontabs-total-height: 78px;
$list-light-icontabs-image: 'sprite.png';
$list-light-icontabs: (44px, 43px, -44px, -43px, 18px, 10px, 83px, 78px, 'sprite.png', 'list-light-icontabs', );
$star-border-name: 'star-border';
$star-border-x: 45px;
$star-border-y: 21px;
$star-border-offset-x: -45px;
$star-border-offset-y: -21px;
$star-border-width: 20px;
$star-border-height: 19px;
$star-border-total-width: 83px;
$star-border-total-height: 78px;
$star-border-image: 'sprite.png';
$star-border: (45px, 21px, -45px, -21px, 20px, 19px, 83px, 78px, 'sprite.png', 'star-border', );
$star-half-name: 'star-half';
$star-half-x: 45px;
$star-half-y: 0px;
$star-half-offset-x: -45px;
$star-half-offset-y: 0px;
$star-half-width: 20px;
$star-half-height: 19px;
$star-half-total-width: 83px;
$star-half-total-height: 78px;
$star-half-image: 'sprite.png';
$star-half: (45px, 0px, -45px, 0px, 20px, 19px, 83px, 78px, 'sprite.png', 'star-half', );
$star-yellow-name: 'star-yellow';
$star-yellow-x: 22px;
$star-yellow-y: 22px;
$star-yellow-offset-x: -22px;
$star-yellow-offset-y: -22px;
$star-yellow-width: 20px;
$star-yellow-height: 19px;
$star-yellow-total-width: 83px;
$star-yellow-total-height: 78px;
$star-yellow-image: 'sprite.png';
$star-yellow: (22px, 22px, -22px, -22px, 20px, 19px, 83px, 78px, 'sprite.png', 'star-yellow', );
$wishlist-icon-name: 'wishlist-icon';
$wishlist-icon-x: 0px;
$wishlist-icon-y: 22px;
$wishlist-icon-offset-x: 0px;
$wishlist-icon-offset-y: -22px;
$wishlist-icon-width: 20px;
$wishlist-icon-height: 19px;
$wishlist-icon-total-width: 83px;
$wishlist-icon-total-height: 78px;
$wishlist-icon-image: 'sprite.png';
$wishlist-icon: (0px, 22px, 0px, -22px, 20px, 19px, 83px, 78px, 'sprite.png', 'wishlist-icon', );
$wishlist-light-icon-name: 'wishlist-light-icon';
$wishlist-light-icon-x: 0px;
$wishlist-light-icon-y: 43px;
$wishlist-light-icon-offset-x: 0px;
$wishlist-light-icon-offset-y: -43px;
$wishlist-light-icon-width: 20px;
$wishlist-light-icon-height: 19px;
$wishlist-light-icon-total-width: 83px;
$wishlist-light-icon-total-height: 78px;
$wishlist-light-icon-image: 'sprite.png';
$wishlist-light-icon: (0px, 43px, 0px, -43px, 20px, 19px, 83px, 78px, 'sprite.png', 'wishlist-light-icon', );
$spritesheet-width: 83px;
$spritesheet-height: 78px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($cart-icon, $cart-light-icon, $grid-blue-icon, $icon-arrow, $icon-search, $icon-user, $list-icon, $list-light-icontabs, $star-border, $star-half, $star-yellow, $wishlist-icon, $wishlist-light-icon, );
$spritesheet: (83px, 78px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
