.btn {
  display: block;
    max-width: 300px;
    width: 100%;
    font-family: $base-font-family;
    font-size: 14px;
    letter-spacing: .1em;
    text-transform: capitalize;
    font-weight: $medium-font-weight;
    color: $gray-dark;
    border: 2px solid $gray-border;
    border-radius: 5px;
    padding: 13px 15px 12px;
    text-align: center;
    background-color: $white;
    transition: background-color .4s ease, color .9s ease;
    @include breakpoint(md) {
        max-width: inherit;
    }

    &:hover {
        background-color: $gray-border;
    }
    @include breakpoint(sm) {
        max-width: 200px;
    }
}