// checkbox

.form-checkbox {
  @include flexbox();
  @include flexwrap(wrap);

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #f1f1f1;
    border-radius: 4px;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  .form__label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 12px;
    color: $gray-dark;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50%;

    &:hover input ~ .checkmark {
      background-color: #f1f1f1;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: $blue;
        border-color: $blue;
        
        &:after {
          display: block;
        }
      }
    }

    .checkmark {
      &:after {
        left: 6px;
        top: 3px;
        width: 6px;
        height: 10px;
        border: solid $white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

// form

.form {
  &__input {
    padding: 10px 18px;
    margin: 5px 0 22px;
    height: 50px;
    border: 2px solid $gray-border;
    border-radius: 5px;
    width: 100%;
    transition: box-shadow .3s ease;

    &:focus,
    &:hover {
      @include block-shadow();
    }

    &::placeholder {
      color: $gray-light;
      font-size: 12px;
    }
    &::-webkit-input-placeholder { 
      color: $gray-light;
      font-size: 12px;
    }
    &::-moz-placeholder { 
      color: $gray-light;
      font-size: 12px;
    }
    &:-ms-input-placeholder {
      color: $gray-light;
      font-size: 12px;
    }
    &:-moz-placeholder { 
      color: $gray-light;
      font-size: 12px;
    }
  }
}


// select

.select2-dropdown {
  border: none !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $blue;
}

.select2-container .select2-selection--single {
  height: 100%;
  border: none;
  border-radius: 0;
  border-right: 2px solid $gray-border;
  outline: none;
  @include breakpoint(md) {
    border-right: none;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $gray-light;
  text-align: center;
  @include breakpoint(md) {
    text-align: left;
  }
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: $gray-light;
  text-align: center;
  @include breakpoint(md) {
    text-align: left;
  }
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 30px;
}

.select2 {
  width: 100% !important;
  height: 100%;
  outline: none;

  &-container {

    &--open {
      .select2-selection__arrow {
        &:before {
          transform: rotate(180deg);
        }
      }
    }
  }

  &-selection {

    &__rendered {
      height: 100%;
      @include flexbox(); 
      align-items: center;
      padding-top: 17px;
    }

    &__arrow {
      top: 50% !important;
      right: 10px !important;
      transform: translateY(-50%);
      
      &:before {
        content: '';
        display: inline-block;
        @include sprite($icon-arrow);
      }

      b {
        display: none;
      }
    }
  }

  &-results__options {
    border: 2px solid $gray-border;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    //@include block-shadow();
  }
}
