// checkbox

.form-checkbox {
  @include flexbox();
  @include flexwrap(wrap);

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #f1f1f1;
    border-radius: 4px;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  .form__label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 12px;
    color: $gray-dark;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50%;

    &:hover input ~ .checkmark {
      background-color: #f1f1f1;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: $blue;
        border-color: $blue;
        
        &:after {
          display: block;
        }
      }
    }

    .checkmark {
      &:after {
        left: 6px;
        top: 3px;
        width: 6px;
        height: 10px;
        border: solid $white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}