.breadcrumb {
  @include flexbox();
  align-items: center;

  li {
    padding: 10px 22px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 5px;
      height: 5px;
      border-top: 2px solid $gray-text;
      border-right: 2px solid $gray-text;
      transform: rotate(45deg) translateY(-50%);
    }
    
    a {
      font-size: 13px;
      color: $gray-text;
    }

    &:last-child {
      &:after {
        content: none;
      }  
      a {
        color: $gray-dark;
      }
    }
  }
}

.section-category {
  background-color: $gray-bg;
  padding: 35px 0;

  .block-nav {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    margin-bottom: 74px;
    @include flexwrap(wrap);

    @include breakpoint(md) {
      margin-bottom: 40px;
    }
  }

  .area-title {
    margin-bottom: 61px;
  }

  .social {
    @include flexbox();
    align-items: center;
    p {
      font-size: 13px;
      padding-right: 10px;
      margin-bottom: 0;
    }
    @include breakpoint(md) {
      width: 100%;
      margin-top: 20px;
    }
  }

  .social__list {
    @include flexbox();
    padding-right: 14px;

    li {
      a {
        i {
          padding: 0 15px 0 24px;
          font-size: 20px;
        }
        .fa-facebook-f {
          color: $dark-blue;
        }
        .fa-twitter {
          color: $blue;
        }
        span {
          padding: 6px 8px;
          border: 2px solid $gray-border;
          border-radius: 7px;
          font-size: 13px;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: -3px;
            width: 7px;
            height: 7px;
            border-top: 2px solid $gray-border;
            border-left: 2px solid $gray-border;
            background-color: $gray-bg;
            transform: rotate(-45deg) translateY(-50%);
          }
        }
      }
    }
  }

  h1 {
    text-align: center;
    font-weight: normal;
  }

  .left-menu {
    background-color: $white;
    border-radius: 7px;

    .accordion-group {
      @include breakpoint(md) {
        display: none;
      }
    }
    .accordion {
      padding: 18px 20px 19px;
      border-bottom: 2px solid $gray-bg;

      &__caption {
        position: relative;

        // arrow
        &:after {
          content: '';
          transition: transform 0.25s ease 0.1s;
          position: absolute;
          top: 50%;
          right: 0;
          width: 7px;
          height: 7px;
          transform: translateY(-50%) rotate(-45deg);
          border-right: 2px solid $gray-light;
          border-bottom: 2px solid $gray-light;
        }

        &.active {
          &:after {
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }

      &__content {
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: opacity 1s ease 0.25s, height 0.25s ease;
        
        &.open {
          overflow: visible;
          height: auto;
          opacity: 1;
          padding-top: 30px;

          // @include breakpoint(lg) {
          //   overflow: hidden;
          //   height: 0;
          //   opacity: 1;
          // }
        }

        .form-checkbox {
          .read-more-toggle {
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: opacity .5s ease, height .3s ease;
            &.active {
              @include flexbox();
              @include flexwrap(wrap);
              overflow: visible;
              height: auto;
              opacity: 1;
            }
          }

          .read-more-link {
            width: 100%;
            cursor: pointer;
            font-size: 10px;
            font-weight: $bold-font-weight;
            color: $gray-light;
            text-transform: uppercase;
            letter-spacing: .12em;
            padding-left: 40px;
            position: relative;
            @extend %fa-icon;
            @extend .fas;
          
            &:before {
              content: fa-content($fa-var-plus);
              position: absolute;
              top: 0;
              left: 10px;
            }

            &.active {
              &:before {
                content: fa-content($fa-var-minus);
              }
            }
          }
        }
      }
    }

    .btn {
      display: none;
      @include breakpoint(md) {
        display: block;
      }
    }
  }

  .tabs {
    @include breakpoint(md) {
      margin-top: 30px;
    }

    &__caption {
      @include flexbox();
      align-items: center;
      background-color: $white;
      border-radius: 7px;
      @include block-shadow();
      margin-bottom: 30px;

      li {
        padding: 18px 0;
        font-size: 13px;
        font-weight: $bold-font-weight;
        color: $gray;
        margin: 0 12px 0 32px;
        border-bottom: 2px solid $white;
        cursor: pointer;

        &.active {
          color: $blue;
          border-bottom: 2px solid $blue;
        }
      }
    }

    &__content {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .card {
    @include flexbox();
    @include flexwrap(wrap);
    justify-content: space-between;
    margin: 0 -15px;
    

    &__item {
      display: block;
      background-color: $white;
      border-radius: 6px;
      width: 29%;
      padding: 20px 20px 30px;
      margin: 0 15px 30px;
      @include block-shadow();
      transition: transform .3s ease;

      @include breakpoint(md) {
        width: 40%;
      }

      &:hover {
        transform: scale(1.1);
        p {
          color: $blue;
        }
      }
    }

    &__title {
      @include flexbox();
      justify-content: space-between;
    }

    &__sale {
      border-radius: 5px;
      background-color: #f7f7f7;
      min-width: 65px;
      text-align: center;

      strong {
        font-size: 10px;
        padding: 4px 5px;
        color: $gray-light;
        text-transform: uppercase;
      }
    }

    &__buttons {
      @include flexbox();
    }

    &__button {
      @include flexbox();
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0 0 0 20px;
      position: relative;

      &:before {
        content: '';
        display: inline-block;
      }

      &_wish {
        &:before {
          @include sprite($wishlist-light-icon);
        }

        &:hover {
          &:before {
            @include sprite($wishlist-icon);
          }
        }
      }
      &_list {
        &:before {
          @include sprite($list-light-icontabs);
        }
      }
    }

    &__image {
      padding: 30px 10px 16px;
      text-align: center;
    }

    &__desc {
      text-align: center;

      p {
        color: $gray-dark;
      }
    }

    &__rating {
      @include flexbox();
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      li {
        position: relative;
        cursor: pointer;

        &:before {
          content: '';
          display: inline-block;
          @include sprite($star-yellow);
        }
      }
      
      span {
        font-size: 12px;
        color: $gray-light;
        padding-left: 12px;
      }
    }

    &__stars {
      @include flexbox();
      li {
        padding: 0 2px;
      }
    }

    &__cart {
      @include flexbox();
      justify-content: center;

      strong {
        font-size: 16px;
        color: $gray-dark;
      }
      span {
        padding-left: 15px;
        position: relative;

        &:before {
          content: '';
          display: inline-block;
          @include sprite($cart-light-icon);
        }
      }
    }
  }

  .pagination {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    border-radius: 7px;
    @include block-shadow();
    height: 60px;

    &__btn {
      position: relative;
      @include flexbox();
      align-items: center;
      border: none;
      box-shadow: none;
      max-width: max-content;
      text-transform: uppercase;
      font-size: 10px;
      color: $gray-light;
      transition: all .3s ease;

      &:hover {
        background-color: transparent;
        color: $gray-dark;
      }

      strong {
        padding: 0 20px;
      }

      &:before,
      &:after {
        content: '';
        display: inline-block;
      }

      &_prev {
        &:before {
          @include sprite($arrow-prev-icon);
          padding-left: 7px;
        }

        &:hover {
          &:before {
            padding-left: 0;
          }
        }
      }

      &_next {
        &:after {
          @include sprite($arrow-next-icon);
          padding-right: 7px;
        }

        &:hover {
          &:before {
            padding-right: 0;
          }
        }
      }
    }

    &__number {
      font-size: 14px;
      color: $gray-dark;
      padding: 7px;
    }
  }

}